{% load static %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>RESTful APIs POKEDEX</title>
    <style type="text/css">
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 style="margin-bottom: 0">RESTful APIs Pokedex Data Library</h1>
      <a href="{% url 'small_pokedex' %}">small pokedex</a>
      <a href="{% url 'other_pokedex' %}">other pokedex</a>
      <a href="{% url 'big_pokedex' %}">big pokedex</a>
      <a href="{% url 'final_pokedex' %}">final pokedex</a>
    </header>
    <hr>
    {% block content %}
    {% endblock %}
    <hr>
    <footer>
      <a href="https://pokeapi.co/api/v2/pokemon/"> pokemon json data source for our small pokedex</a> /
      <a href="https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/pokedex.json">advanced pokedex library data source for json objects</a>
      <img src="http://www.pokestadium.com/sprites/black-white/animated/{{search_result.name}}.gif" alt="poke_bw" style="width:50px">
    </footer>
  </body>
</html>
